*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:link {
    color: #010C80;
}

a:hover {
    /* background-color: #ff4f5a; */
    filter: drop-shadow(2px 2px 6px #ff4f5a);
    border-radius: 10%;
    color: #ff4f5a;
}

.nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw;
    border-bottom: 2px groove #222;
    /* background-color: rgba(255, 255, 68, 0.589); */
}
a {
    display: block;
    text-decoration: none;
    display: none;

}


.nav-2 h4>span>a {
    border-radius: 10px;
    height: 40px;
     padding-top: 0.8vw;
     padding-left: 1vw;
     padding-right: 1vw;
     padding-bottom: auto;
     text-align: center;
     width: 6vw;
     background-color: #ff4f5a;
     font-weight: 700;
     color: white;
 }.nav-2 {
    display: flex;
    gap: 4vw;
    align-items: center;
    cursor: pointer;
}
.nav-2 h4 a {
    display: block;
}

.nav h2 img {
    width: 30%;
    margin-top: 4vw;
    margin-bottom: 4vw;
    margin-left: 1.5vw;
    display: block;
}

.nav h4 {
    font-weight: 2vw;
}
.login:hover {
    background-color: #f01d1d;
    /* box-shadow: 2px -2px  black; */

}

.nav i {

    font-weight: 800;
    display: none;
}


.search-container{
    background-color: #ec414c21;
   
    padding: 20px;
    width: 100%;
    height: 300px;
   padding-left: 30px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 80%;
    margin: auto;
   border-radius: 10PX;
    /* border-top: 5px solid rgba(0, 0, 139, 0.637); */
    border-left: 5px solid  #010C80(0, 0, 139, 0.146);
    border-right: 5px solid  #010C80(0, 0, 139, 0.276);

}

.search{
    line-height: 40px;
    margin-top: 10px;
    margin-left: 30px;
 
}
.search input{
    padding-top: 20px;
    padding-bottom: 17px;
    border: 2px solid  #010C80;
    border-radius: 20px;
   
  
}

.date{
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
    border-radius: 20px;
    margin-top: 10px;
    
}
.date input{
    padding-top: 2px;
    border: 2px solid  #010C80;
padding-bottom: 20px;
border-radius: 10px;
line-height: 50pxs;
}

.search-container button{
    border: none;
    background: #ff4f5a;
     border-radius: 50px;
     width: 7vw;
     height: 4vw;
     color: white;
}
.date button{
    width: 15vw;
    height: 5vw;
    padding: auto;
    margin-top: 3vw;
    margin-left: 2.5vw;
    background-color: ff4f5a;
    color: white;
    font-size: 20px;

}
.discount{
    text-align: center;
    padding: 1vw;
}
.content{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    gap: 20px;
   margin-left: 3vw;

}

.offer1{
    width: 200px;
    height:140px;
    background-color: #ff4f5b3f;
    border: 2px solid  #010C80;
    font-size: 25px;
    padding: 1vw;
    border-radius: 10px;
}

footer{
    background-color: crimson;
    width: 100%;
    height: 300px;
    margin-top: 4vw;
    
}